autopep8==1.6.0
brotlipy==0.7.0
flake8==6.0.0
kaleido==0.2.1
mycolorpy==1.5.1
pip-chill==1.0.3
plotly==5.14.1
pydocstyle==6.3.0
pyopenssl==23.0.0
pyreadstat==1.2.1
pysocks==1.7.1
pyyaml==6.0
rope==1.7.0
scikit-learn==1.2.2
sip==6.6.2
spyder==5.4.3
streamlit==1.21.0
unidecode==1.2.0
whatthepatch==1.0.2
win-inet-pton==1.1.0
yapf==0.31.0
